body{
    text-align: center;
}
ul{
    display: flex;
    margin: auto;
    justify-content:center;
    flex-wrap: wrap;
    
}
li{
    border: #000 1px solid;
    list-style: none;
    margin: 10px 20px;
    padding: 10px 20px;
}
.number{
    border: #000 1px solid;
}
.submit{
    border: #000 1px solid;
}